{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
    </style>
</head>
<body>
    <div class="container">
        <form action="{% url 'forgetpassword' %}" method="post">
            {%csrf_token%}
            <caption><h1>Forget Password</h1></caption>
            <table>
                <tr>
                    <td style="width: 150px;"><strong>Username</strong></td>
                    <td style="width: 100%;"><input name="username" type="text" placeholder="Username" required></td>
                </tr>
                <tr>
                    <td><strong>Current Password</strong></td>
                    <td ><input type="password" name="password" placeholder="Current Password" required></td>
                </tr>
                <tr>
                    <td ><strong>New Password</strong></td>
                    <td>
                        <input type="password" name="password2" placeholder="New Password" required>
                    </td>
                </tr>
                <tr>
                    <td ><strong>User Type</strong></td>
                    <td>
                        <select name="user" required>
                            <option value="select" selected>--select--</option>
                            <option value="patient">Patient</option>
                            <option value="doctor">Doctor</option>
                        </select>
                    </td>
                </tr>
            </table>
            <p style="font-size: 1rem;
            color: rgb(234, 9, 54);" class="error">{{error}}</p>
            <button class="btn">Change Password</button>
            <p style="font-size: 15px;
            margin-right: 5px;">Dont have an account? <a href="signup">Signup</a></p>
        </form>
    </div>
    <script>
        setTimeout(()=>{
            document.querySelector('.error').innerHTML = ''
        },2000)
    </script>
</body>
</html>